include *.txt
recursive-include docs *.txt
include *.pdf
recursive-include docs *.pdf
include *.png
recursive-include docs *.png
include *.wav
recursive-include amfm_decompy *.wav
prune dist*
prune docs/_build*

